<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"> </head>

<body class="container">

<nav th:replace = "fragments :: navigation"></nav>

<h2 th:text="${naslov}"></h2>

<form method="post" style="max-width:600px">
    <div class="form-group">
        <label for="bookName-field">Name</label>
        <input class="form-control" id="bookName-field" type="text" name="bookName"/>
    </div>
    <input type="submit" value="Add"/>
</form>
</body>
</html>