<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body class = "container">

<nav th:replace = "fragments :: navigation"></nav>

<h2 th:text = "${naslov}">List of my books:</h2>

<p th:unless="${books} and ${books.size()}"> No Books</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Book Genre</th>
        <th>Book Format</th>
        <th>Publishing Date</th>
        <th>Price</th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.bookFormat}"></td>
        <td th:text="${book.publishingDate}"></td>
        <td th:text="${book.price}"></td>
    </tr>

</table>


</body>
</html>